body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: LightGray;
}
table {
  cursor: pointer;
}
td {
  height: 27px;
  width: 27px;
  border: 2px solid black;
  background-color: white;
  transition: 0.3s;
}
.fill {
  background-color: black;
}
.fill:hover {
  background-color: black;
}
.color-reverse td {
  background-color: black;
  border-color: white;
}
.color-reverse .fill {
  background-color: white;
}