/* HEADER */
.main-header {
  margin-bottom: 6px;
}
.navbar {
  height: 97px;
  padding-left: 37px;
  padding-right: 37px;
}
.nav-text {
  display: none;
}
.nav-btn {
  display: none;
}
.nav-menu {
  display: block;
}
.slogan-section {
  background-image: url(../img/slogan_background_1200.jpg);
  height: 649px;
  padding-top: 58px;
  padding-left: 38px;
}
.slogan {
  font-size: 62px; 
  line-height: 64px;
  margin-bottom: 53px;
}
.web-address {
  font-size: 38px;
}
.nav-menu-item {
  text-transform: uppercase;
}
.nav-menu-item:hover {
  color: gold;
}

/* SERVECES SECTION */
.services-section {
  flex-direction: column;
  flex-direction: row;
}
.services-item {
  justify-content: space-between;
  align-items: center;
  font-size: 43px;
  height: 400px;
  width: 100%;
}
.services-item:hover {
  color: gold;
}
.service-name.bg1 {
  background-image: url(../img/pizza_delivery_service_1200.jpeg)
}
.service-name.bg2 {
  background-image: url(../img/salads_service_1200.jpeg)
}
.service-name.bg3 {
  background-image: url(../img/desserts_service_1200.jpeg)
}
.arrow-btn {
  display: none;
}

/* MENU SECTION */
.menu-section {
  margin-top: 41px;
}
.menu-section-heading {
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 22px;
}
.menu-section-heading h2 {
  font-size: 40px;
}
.menu-section-heading span {
  font-size: 20px;
  margin-top: 7px;
}
.menu-logo {
  display: block;
}
.menus-wrapper {
  margin-top: 16px;
}

/* MENU SECTION */
.menu-section {
  margin-top: 77px;
}
.menu-section-heading {
  padding: 0 22px;
}
.menu-section-heading h2 {
  font-size: 40px;
}
.menu-section-heading span {
  font-size: 20px;
  margin-top: 7px;
}
.menus-wrapper {
  flex-direction: row;
  margin-top: 21px;
}
.menu-heading {
  padding: 23px 0 23px 18px;
  font-size: 40px;
}
.menu-content {
  padding: 0 25px 25px;
}
.menu-subheading {
  font-size: 30px;
  margin-top: 38px;
  margin-bottom: 38px;
}
.menu-icon {
  font-size: 48px;
  bottom: 7px;
}
.menu-item-name {
  font-size: 27px;
  margin-bottom: 16px;
}
.menu-item-description {
  font-size: 17px;
  margin-bottom: 22px;
}

/* FOOTER */
.footer {
  justify-content: space-between;
  height: 97px;
  margin-top: 106px;
  padding: 0 37px;
}
.footer-text1 {
  display: none;
}
.footer-text2 {
  display: block;
}
.footer-logo {
  display: block;
}